@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-form {
  margin:auto;
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.root{
    height:100% !important;
}
.ant-layout {
    height: 100%;
}

.ant-layout-sider-children {
    height: 100%;
    padding-top: 0.1px;
    margin-top: -0.1px;
}